---
const { pathname } = Astro.props;
import { ClientRouter } from "astro:transitions";
import Navbar from "@/components/navbar.astro";
import "@/styles/global.css";
import "@/styles/starwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Portofolio Ariiq" />
    <title>Portofolio Ariiq</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen">
    <Navbar currentPath={pathname} />
    <slot />
  </body>
</html>
